<div class="screen" >
    <form >
        <h3  style=" color: #1161ee;text-align:center;font-family: 'Righteous', cursive;">PROFILE PICTURE</h3>
        
            <div class="input-group mb-3" style="margin-top: 100px;">
                <input  #singleInput type="file" name="csv" class="form-control" id="inputGroupFile02 " (change)="selectfile($event)"><br>
              </div>
              <button type="submit" class="btn btn-primary"  (click)="addpic()">SET</button> 
          
    </form>
</div>