body{
  background-color: #f4f7f6;
  margin-top:20px;
}



/* CSS */
.btn {
  /* background-color: #c2fbd7; */
  background-image: linear-gradient(to right, rgba(252, 77, 193,0.7), rgba(17, 97, 238, 0.6));

  border-radius: 100px;
  box-shadow: rgba(17, 97, 238, .2) 0 -25px 18px -14px inset,rgba(17, 97, 238, .15) 0 1px 2px,rgba(17, 97, 238, .15) 0 2px 4px,rgba(17, 97, 238, .15) 0 4px 8px,rgba(17, 97, 238, .15) 0 8px 16px,rgba(17, 97, 238, .15) 0 16px 32px;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(17, 97, 238, .35) 0 -25px 18px -14px inset,rgba(17, 97, 238, .25) 0 1px 2px,rgba(17, 97, 238, .25) 0 2px 4px,rgba(17, 97, 238, .25) 0 4px 8px,rgba(17, 97, 238, .25) 0 8px 16px,rgba(17, 97, 238, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
  background-image: linear-gradient(to right, rgba(252, 77, 193,0.7), rgba(17, 97, 238, 0.6));
  
  width: 100%;
  border-radius: 10px ; 
  height: 500px; 

  
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea


}

.people-list {
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li:hover {
  background: rgb(224, 174, 83);
  cursor: pointer;

}
.people-list .chat-list li:hover .name {
  color: black;
}


.people-list .chat-list li.active {
  background: #efefef;

}

.people-list .chat-list li .name {
  font-size: 15px;

}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.people-list img {
  float: left;
  border-radius: 50%
}

.people-list .about {
  float: left;
  padding-left: 8px
}

.people-list .status {
  color: #999;
  font-size: 13px
}



.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
      height: 465px;
      width: 100%;
      overflow-x: auto;
      background: #fff;
      left: -400px;
      display: none
  }
  .chat-app .people-list.open {
      left: 0
  }
  .chat-app .chat {
      margin: 0
  }
  .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0
  }
  .chat-app .chat-history {
      height: 300px;
      overflow-x: auto
  }
}

.circular-image {
  border-radius: 50%; /* Make it a circle */
  width: 50px; /* Adjust the width and height as needed */
  height: 50px;
  object-fit: cover; /* Maintain aspect ratio and cover the circle */
  border: 2px solid #ccc; /* Optional border */
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 650px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: 600px;
      overflow-x: auto
  }
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
      height: 480px;
      overflow-x: auto
  }
  
}